.sidegrid{
    height: 50%;
    background-image: url('../images/person1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid white;
}

.maingrid{
    height: 100%;
    background-image: url('../images/person1.png');
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid white;
    background-size: cover;
}

.smalimg{

    justify-self: flex-end;
    margin-right: 20px; 

    height: 100%;
    width: 15%;
    bottom: 0%;
    left: 0%;
    background-image: url('../images/person2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid white;
    opacity: 0.5;

}

.participant {
    background-color: #FDE9A9;
    border: 1px solid white;
    border-radius: 25px;
    position: relative;
    width: 60%;
    height: 20px;
    top: 85%;
    box-shadow: 5px 5px 10px -5px #cc3300;
    color: #F15A24;
    font-size: 10px;;
    font-size: 10px;
   }

   .lastgrid{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
   
    padding: 0px;
    height: 20%;
   }

   .part1{
    background-color: #FDE9A9;
    border: 1px solid white;
    border-radius: 25px;
    position: relative;
    width: 15%;
    height: 20px;
   left :0%;
    box-shadow: 5px 5px 10px -5px #cc3300;
    color: #F15A24;
    font-size: 10px;
    text-align: center;
    font-size: 15px;
}